.calculadora {
    background: rgb(48, 28, 163);
    width: 200px;
    padding: 10px;
}
#btnCalc {
    background: rgb(150, 6, 6);
    color: white;
    padding: 5px;
}
#btnCalc:hover {
    background: rgb(189, 50, 50);
    color: black;
    cursor: pointer;
}
.spResultado{
    background: black;
    color: yellow;
    padding: 4px;
    margin: 2px;
}
